.contacts-address {
    font-style: inherit;
}

.contacts-link {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--third-text-color);
}

.link-underline {
    text-decoration: underline;
}

.contacts-pre-title {
    color: #ffffff;
}

.contacts-text-time {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--third-text-color);
}
