.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 70px;
}

.logo-svg {
    width: 66px;
    height: 56px;
}

.menu-list {
    display: flex;
}

.menu-item:not(:last-child) {
    margin-right: 40px;
}

.header-connect {
    margin-left: auto;
    padding-right: 5px;
}

.menu-link {
    padding-top: 19px;
    padding-bottom: 19px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--header-color);
    transition: color 250ms linear;
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}

.header-tel {
    padding-top: 19px;
    padding-bottom: 19px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--header-color);
    transition: color 250ms linear;
}

.header-tel:hover,
.header-tel:focus {
    color: var(--accent-color);
}

.header-btn {
    margin-left: 40px;
}
