.backdrop {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    transition: visibility 250ms linear, opacity 250ms linear;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 528px;
    margin: 0 auto;
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
    background-color: var(--header-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms linear;
}

.backdrop.is-hidden .modal {
    transform: scale(0.1) rotate(180deg);
    transition: transform 250ms linear;
}

.modal-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: var(--header-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: border-color 250ms linear;
}

.modal-btn:hover,
.modal-btn:focus {
    border-color: var(--accent-color);
}

.modal-btn-icon {
    width: 18px;
    height: 18px;
    fill: black;
    transition: fill 250ms linear;
}

.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
    fill: var(--accent-color);
}

.modal-form {
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.modal-form-title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

.modal-form-label {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
}

.modal-form-span {
    position: relative;
    display: block;
    margin-top: 4px;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    padding: 11px 12px 11px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
}

.modal-form-area:hover,
.modal-form-area:focus,
.modal-form-span:hover .modal-form-input,
.modal-form-input:focus {
    outline: none;
    border-color: var(--accent-color);
}

.modal-form-input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    width: 18px;
    height: 18px;
    transform: translateY(-50%);
}

.modal-form-span:hover .modal-form-input-icon,
.modal-form-input:focus + .modal-form-input-icon {
    fill: var(--accent-color);
}

.modal-form-area {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    margin-top: 4px;
    margin-bottom: 20px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    resize: none;
}

.modal-form-area::placeholder {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.14;
    color: rgba(117, 117, 117, 0.5);
}
